//Core
.widget, .footer-widget {

  ul {
    padding-left: .5em;
    margin-bottom: 0;
    li {
      @include cnt-font-size(14);
      padding-left: .2em;
      border-bottom: 1px solid $color-border;
      padding-bottom: .5em;
      margin-bottom: .5em;
    }
  }
}
.widget{
  padding:10px;
  background: #FFF;
  margin-bottom: 40px;
  @include mq(pc){
    padding:20px;
  }
}

.widget-title {
  @include cnt-font-size(18);
  color: $color-text-light;
  margin-bottom: 1em;
}

.footer-widget {
  ul {
    margin-bottom: 0;
  }
}

.site-main{
  .post {
    &:first-child {
      margin-top: 0;
    }
  }
}
//
.entry-header, .entry-footer {
  padding: 10px 20px;
}

.post {

  @include cnt-radius(5px);
  background: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  @include mq(pc) {
    @include flx-row;
  }
  .l-left {

    @include mq(pc) {
      @include flx-row;
      @include flx-col;
      max-width: 30%;
      padding-right: 10px;
      .post-thumbnail {
        width: 200px;
      }
    }
    .post-thumbnail {
      min-height: 150px;
    }
  }
  .l-right {
    @include mq(pc) {
      @include flx-col;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .entry-header {
    width: 100%;
    text-align: center;
  }
  .entry-meta {
    @include cnt-font-size(12);
    border-top: 1px solid $color-border;
    margin-top: .5em;
    padding-top: 1em;
    margin-bottom: 1em;
    color: $color-text-light;
  }
  .post-thumbnail {
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    height: 100%;
    &.op-no-imege {
      background-size: 60%;
      background-color: $color-bg;
      border: 1px solid #CCC;
    }
  }
  .entry-content {
    color: $color-text-light;
    padding: 20px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
  }
  .entry-footer {
    display: none;
    @include cnt-font-size(12);
  }
  .single & {

    .wp-post-image {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    .entry-footer {
      display: block;
    }
  }
}

.btn-secondary {
  @include cnt-link(#FFF);
  background: #333;
  border: none;
}

.entry-footer {
  @include cnt-font-size(12);
  width: calc(100% + 40px);
  border-top: 1px solid rgba($color-border, .5);
  color: $color-text-light;
}

//npager
.pagination {
  @include flx-row;
  @include flx-center;
  margin-top: 60px;
  .page-item {
    &.active {
      a.page-link {
        color: #FFF;
        background-color: $color-link;
        border-color: $color-link;
      }
    }
    a.page-link {

      @include cnt-link($color-link);
    }
  }
}

.understrap-read-more-link-block {
  text-align: right;
  a {
    @include cnt-link(#FFF);
    @include cnt-font-size(12);
    background: $color-text;
    margin-right: .5em;

  }
}

#wrapper-footer {
  background: $color-bg;
  .site-info {
    text-align: center;
    @include cnt-font-size(12);
  }
}

#wrapper-static-hero {
  padding-top: 0;
  padding-bottom: 0;

}

#content {
  @include mq(pc) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.navigation {
  .nav-previous, .nav-next {
    @include cnt-radius(4px);
    margin-bottom: 2em;
    background: $color-link;
    padding: .5em .8em;
    a {
      @include cnt-link(#FFF);
    }
  }
}

//comments
#comments {
  @include cnt-radius(4px);
  padding: 20px;
  background: #FFF;
}

.navbar-toggler {
  margin-bottom: 0;
}